title {
    font-size: large;
    color: black;
    line-height: 0cqmax;
    border: 0cap;
}

*{
    box-sizing: border-box;
}
.menu {
    width: 30%;
    background-color: navy;
    float: left;
    padding: 20px;
    font-size: large;
    text-align: center;
    font-family: 'Urbanist', sans-serif;
    color: white;
    padding: 20px;
    

}
.lista {
    margin-top: 10px;
    text-align: center;
   
}
h1,h2 {
    text-align: center;
}

.menu1 {
    width: 70%;
    float:left ;
    font-family: 'Urbanist', sans-serif;
}
h3,h4 {
    margin-left: auto;
    font-size:medium;
    font-weight: bold;
    margin: 10px;
}
h6 {
    margin: 15px;
    font-size: larger;
}
.menu2,h5 {
    width: 30%;
    float:bottom;
    background-color: navy;
    color: white;
    font-size: medium;
    text-align: center;
    font-family: 'Urbanist', sans-serif;
    padding: 20px;

}
li {
    text-align: center;
}